*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #d2d2d2; 
}
button:hover{
    transform: translateY(-4px);
}
button:active{
    transform: translateY(-1px);
}
button:focus{
    outline: none; 
}

img{
    transition: all .3s;
    size
}

.clearfix::after{
    content: ''; 
    display: table;
    clear: both; 
}

.header-box{
    width: 100%;
    height: 7rem; 
    background-image: url(https://t3.ftcdn.net/jpg/01/72/84/36/240_F_172843652_jJwPj7nM6VIotV8dcmN5iWCoxnQYPeuy.jpg);
    background-size: repeat;
}

.header{
    padding: 1.5rem;
    font-weight: 600;
    font-size: 5rem;
    color: #000000;
    text-align: center;
    margin-bottom: 2rem;
}
.header-name{
    padding: 1.5rem;
    font-weight: 600;
    font-size: 3rem;
    color: #d2d2d2;
    text-align: center;
    margin-bottom: 2rem;
}
img{
    height: 400px;
    width: 250px;
}

.main{
    text-align: center;
}

.btn-newgame{
    text-align: center;
}

.btn-newgame{
    top: 18%;
    left: 12%;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s;
}
.btn-newgame i{
    margin-right: 15px;
}

.player-name, .scores{
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.players, .playerscore, .computerscore{
    width: 50%;
    font-size: 1.5rem;
    border: 1px solid #78a58d;
}

.playerscore, .computerscore{
    font-size: 4rem;
    font-weight: 700;
    color: #E45A47;
}

.moves{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5rem;
}
.move-0, .move-1{
    width: 50%;
    overflow: hidden;
}

.move-0 img{
    margin-bottom: 5rem;
    margin-right: 2rem;
    cursor: pointer;
    transition: all .3s;
    border-radius: 500%;
}

.move-0 img:hover{
    transform: translateY(-10px);
    box-shadow: .5rem .5rem 0.5rem rgba(104, 104, 104, 0.9), 
                -.5rem -.5rem 0.5rem rgba(104, 104, 104, 0.9),
                -.5rem .5rem 0.5rem rgba(104, 104, 104, 0.9),
                .5rem -.5rem 0.5rem rgba(104, 104, 104, 0.9);
}

.move-0 img:active{
    transform: translateY(-1px);
}

.play{
    position: absolute;
    top: 70%;
    left: 47%;
    width: 7.5rem;
    height: 2.5rem; 
    border-radius: 3px;
    border: none; 
    transition: all .3s;
    font-size: 1.4rem;
    background-color: #78a58d;
}
.play:hover{
    transform: translateY(-4px);
}
.play:focus{
    outline: none; 
}
.play:active{
    transform: translateY(-1px);
}

.result{
    visibility: hidden;
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 7rem;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #ff0000;
}


